
<div class="main-menu">
    <a href="/FillTables">Fill Tables</a>
    <br />
    <a href="/Faults/GetAll">Faults</a>
    <a href="/RepairingModels/GetAll">Repairing Models</a>
    <a href="/Faults/GetAll">Spare Parts</a>
    <a href="/Faults/GetAll">Used Spare Parts</a>
</div>
