<!DOCTYPE HTML>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="~/css/style.css" type="text/css" />
    <title>Equipment Repair Service Center</title>
</head>
<body>
    <header>
        <div class="header-container">
            <h2>Equipment Repair Service Center</h2>
            <a class="sign-out-btn" href="/Home/StartPage">Sign Out</a>
        </div>
    </header>

    <div id="main">
        @RenderBody()
    </div>

</body>
</html>