@model LoginUser

@{
    ViewData["Title"] = "Login";
}

<div>
    <h3>Login</h3>
    @if (ViewData["Message"] != null)
    {
        <h5 style="color: red">@ViewData["Message"]</h5>
    }
    <form class="creation-form" method="post" asp-action="Login">
        <div class="field-container">
            <label asp-for="UserName">Login</label>
            <div>
                <input class="input-props" asp-for="UserName" />
                <span class="error-mes-span" asp-validation-for="UserName"></span>
            </div>
        </div>

        <div class="field-container">
            <label asp-for="Password"></label>
            <div>
                <input class="input-props" asp-for="Password" />
                <span class="error-mes-span" asp-validation-for="Password"></span>
            </div>
        </div>

        <div class="action-btn-container">
            <button class="action-btn" type="submit">Login</button>
            <a class="back-btn" href="/">Back</a>
        </div>
    </form>
</div>